.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pfp {
  margin-bottom: 64px;
  align-self: center;
}

.flexTop {
  flex: 1;
  min-height: 24px;
}

.flexBot {
  flex: 2;
  min-height: 24px;
}

.responses {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.response {
  margin: auto;
}

.response + .response {
  margin-top: 24px;
}