.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  max-width: 1200px;
  align-self: center;
}

.pageViewport {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  height: calc(100vh + 64px);
  position: fixed;
  z-index: 20;
  left: 50%;
  top: -64px;
  transform: translateX(-50%);
  overflow-y: scroll;
}

.pageViewport::-webkit-scrollbar {
  display: none;
}

.dim {
  background-color: #000000;
  width: calc(100vw + 64px);
  height: calc(100vh + 64px);
  top: -64px;
  left: -64px;
  position: fixed;
  z-index: 19;
  opacity: 50%;
  transition: opacity 350ms linear;
}

.notDim {
  background-color: #000000;
  width: calc(100vw + 64px);
  height: calc(100vh + 64px);
  top: -64px;
  left: -64px;
  position: fixed;
  z-index: 19;
  opacity: 0%;
  transition: opacity 350ms linear;
  pointer-events: none;
}

.sectionPair {
  display: flex;
  flex-direction: row;
}

.flexGap {
  flex: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.chipGap {
  width: 8px;
}