.main {
  display: flex;
  flex-direction: column;
  max-width: 1800px;
  align-items: center;
  margin: auto;
  padding-bottom: 120px;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}