@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .png {
    width: 64px;
    height: 64px;
  }

  .name {
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    margin-left: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
  }
}

@media only screen and (max-width: 1200px) {
  .png {
    width: 40px;
    height: 40px;
  }

  .name {
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    margin-left: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
  }
}

@media only screen and (max-width: 576px) {
  .png {
    width: 24px;
    height: 24px;
  }

  .name {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    margin-left: 8px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
  }
}