.section {
  font-size: 24px;
  margin-top: 40px;
}

.callout {
  font-size: 24px;
  margin-top: 40px;
  display: flex;
}

.bar {
  width: 10px;
  background-color: black;
  border-radius: 4px;
  margin-right: 24px;
}

.h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.h3 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 12px;
}